<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-2V1IQJN\SQLEXPRESS;Initial Catalog=productstoredb;Integrated Security=True"-->
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-2V1IQJN\SQLEXPRESS01;Initial Catalog=PiShop;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>