.shopping-cart {
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.CartMobile {
    width: 80%;
    display: flex;
}

.column{
    display:flex;
    justify-content: space-around;
    padding-left:22%;
}
.image {

    width: 14%;
    text-align: center;
}

.size {
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    /*line-height: 110px;*/
    /*height: 110px;*/
}

.delivery—ontraction {
    font-size: 18px;
    color: gray;
}


.title {
    /*    height: 30px;*/
    /*border-bottom: 1px solid #E1E8EE;*/
    padding: 10px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #E1E8EE;
}

.cart_title{
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #E1E8EE; 
     font-size: 18px;
    font-weight: 400;
     color: #5E6977;
    
}
.item {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #E1E8EE; 
}



    /*.item:nth-child(3) {
        border-top: 1px solid #E1E8EE;
        border-bottom: 1px solid #E1E8EE;
    }*/

.buttonsCart {
    /*    margin-right: 60px;*/
    width: 8%;
    text-align: center;
    line-height: 120px;
    height: 110px;
}

.delete-btn,
.like-btn {
    display: inline-block;
    Cursor: pointer;
}

.delete-btn {
    width: 100%;
    height: 17px;
    background: url("https://designmodo.com/demo/shopping-cart/delete-icn.svg") no-repeat center;
    /*margin-top: 20px;*/
}


.OrangeColorText {
    color: #FF7400;
}



.imageShoping-cart {
    
    display: block;
    /*width:30px;
    height:40px;*/
}

.description {
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    /*margin-right: 50px;*/
    /*width: 155px;
    margin-left: 50px;*/
    /*line-height: 110px;*/
    height: 110px;
}

    .description span {
        width: 100%;
        display: block;
        font-size: 16px;
        color: #43484D;
        font-weight: 400;
    }

    

.textColumn {
    width: 20%;
    text-align: center;
    float: left;
}

.textColumnName {
    /*margin-left: 250px;*/
}

.textColumnQuantity {
    /*margin-left: 102px;*/
}

.textColumnPrice {
    /*margin-left: 95px;*/
}
.textColumnAmount {
    /*margin-left: 127px;*/
}

.quantity {
    line-height: 110px;
    height: 110px;
    width: 25%;
    text-align: center;
    /*width: 170px;
    padding-top: 44px;
    margin: 0 -10px 0 20px;*/
}

    .quantity input {
        -webkit-appearance: none;
        border: none;
        text-align: center;
        width: 32px;
        font-size: 16px;
        color: #43484D;
        font-weight: 300;
    }




/*.buttonOrder {
    background-color: #5b2d5e;
    border-color: #5b2d5e;
    
    color: white;
    width: 205px;
}
    .buttonOrder:hover {
         border-color: #5b2d5e;
        
        
        color: white;
    }

    .buttonOrder:active {
        background-color: #FF7400;
    }
    .buttonStyleCart {
    background-color: #ecdeec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
}
*/

.buttonOrder {
    margin-top: 20px;
    letter-spacing: 2px;
    width: 70%;
    background-color: #01898ccf;
    border: 0;
    border-bottom: 3px solid #0e5f63;
    border-radius: 10px;
    height: 40px;
    align-items: center;
    text-align: center;
    width: 190px;
    font-size: 14px;
    color: white;
    border: 0;
    border-bottom: 3px solid #0e5f63;
}

    .buttonOrder:focus {
        outline: none;
    }

    .buttonOrder:hover {
        background-color: #01898cb0;
        color: #fff;
        border-bottom-color: #0e5f63d9;
    }

.cart {
    position: relative;
    padding: 20px;
    width: 80%;
    height: auto;
    margin: 80px auto;
    background: #fff;
    border-radius: 4px;
}


.buttonStyleCart {
    background-color: #ecdeec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    /*margin-top: 22px;*/
    padding: 4px 8px;
}
.minus-btn img {
    margin-bottom: 3px;
}

.plus-btn img {
    /*margin-top: 2px;*/
}

buttonStyleCart:focus,
input:focus {
    outline: 0;
}

.titleEmptyCart {
    text-align: center;
    padding: 10px;
    font-size: 22px;
}



.total-price {
    font-size: 16px;
    width: 100%;
    /*width: 100px;
    padding-top: 48px;
    text-align: center;
    color: #43484D;
    font-weight: 300;
    margin-left: 70px;*/
}
.PriceW {
    display: none;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.total-priceW {
    display: none;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-left: 70px;
}

.total-total-price {
    font-size: 18px;
    color: #43484D;
    font-weight: 400;
}

.ContainerTotal-total-price {
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
   
    text-align:center;
}

.bottons {
  text-align:center;
}



    .Total {
    display: flex;
    flex-direction:row-reverse;
    /*border-top: 1px solid #E1E8EE;*/
}

.cond {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    /*border-right: 1px solid #E1E8EE;*/
}
 .cond_title
{
    color: #43484D;
    padding: 10px;
    padding-top:0px;
    font-size: 16px;
    text-align: center;
}
.cond_text {
    text-align: center;
    color: #43484D;
    font-size: 16px;
    padding: 5px 40px;

}



.colorGrey {
     color: #86939E; 
}
.box {
    padding-top: 25px;
    padding-bottom: 30px;
    margin: auto;
    width: 50%;
}

.priceCart {
    font-size: 16px;
    width: 100%;
    /*width: 100px;
    padding-top: 48px;
    text-align: center;
    
    color: #43484D;
    font-weight: 300;
    font-style: initial;*/
}

.outline {
    outline: none;
    border: none;
}
    .outline:focus {
        outline: none !important;
    }

.Containerdelivery-price {
    margin-right: 0px;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    display: block;
    width: 450px;
    margin-left: auto;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}
.delivery-price{

}

@media (max-width: 440px) {

    .emptyCart {
        padding: initial;
        padding: initial;
        min-height: initial;
    }

    .shopping-cart {
        margin: initial;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .Containerdelivery-price {
        float: initial;
        margin-right: initial;
        margin-top: initial;
        text-align: center;
        margin-bottom: 10px;
        width: 100%;
        margin-left: auto;
    }

    .PriceW {
        display: block;
        margin-left:7px;
        font-size:15px;
    }

    .total-priceW {
        display: block;
    }

    .column {
        display: none;
    }

    .imageShoping-cart {
        margin-left: initial;
    }

    .Total {
        display: contents;
        margin: 0 auto;
    }

    .title {
        display: none;
    }

    .buttonOrder {
        letter-spacing: initial;
        border-radius: initial;
        font-weight: 600;
        background-color: #efefef;
        margin: auto;
        float: initial;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        border: 3px solid #efefef;
        margin-top: 10px;
    }

        .buttonOrder:hover {
            background-color: initial;
            color: initial;
            border-bottom-color: initial;
        }

    .quantity {
        padding-top: initial;
    }

    .ContainerTotal-total-price {
        /*float: initial;
        margin-right: initial;
        margin-top: initial;
        text-align: center;
        margin-bottom: 10px;*/
        width: 100%;
        padding-bottom:3px;
        font-size:16px;
        display:flex;
        justify-content:space-between;
        color: black;

    }

    .ContainerTotal-Sale {
        text-align: center;
        margin-bottom: 10px;
        width: 100%;
        padding-bottom: 3px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
    }

    .total-Sale{
        color: #e32526;
        font-size:16px;
    }

    .total-total-price {
        font-size: 16px;
    }

    .total-price {
        padding-top: initial !important;
        margin-bottom: initial !important;
        font-size: 17px !important;
        width: initial;
    }

    .ContainerTotal-total-price-withSale {
        font-size: 19px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 3px;
    }

    .total-priceWithSale{
        font-size: 19px;
    }

    .priceCart {
        width: initial;
        font-size: 15px;
        padding-top: 0px;
    }

    .boxTotal {
        color: #000;
        font-size: 15px;
        margin-bottom: 25px;
    }



    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image img {
        width: 100%;
        height: auto;
    }

    .image,
    .quantity,
    .description {
        text-align: center;
        margin: 6px 0;
    }

    .description {
        line-height: initial;
        height: initial;
    }

    .buttons {
        margin-right: 20px;
        display: initial;
    }

    .box {
        width: 100%;
        padding: 25px 10px;
    }

    .cond {
        width: 100%;
        border-top: 1px solid #E1E8EE;
        border-right: initial;
    }

    .CartMobile {
        width: 70%;
        display: block;
    }

    .size {
        display: flex;
        width: 100%;
        justify-content: space-around;
        text-align: center;
    }

    .image {
        width: 30%;
    }

    .quantity {
        line-height: initial;
        height: initial;
        width: initial;
        text-align: left;
        margin-top: 20px;
        margin-left: 8px;

    }

    .description {
        width: 100%;
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        text-align: left;
    }

    .quantity input {
        width: 20px;
    }

    .size {
        width: initial;
        text-align: center;
        height: initial;
        display: flex;
        justify-content: space-between;
    }

    .AdaptiveMobile {
        /*line-height: initial;
        height: 0px;
        font-size: 0px;
        opacity: 1;*/
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 38px;
        line-height: initial;
    }

    .description span {
        width: 100%;
        font-weight:700;
        margin-bottom: 5px;
        font-size: 15px;
        color: #131313;
    }

    .total-priceW {
        margin-left: initial;
        font-size: 15px;
        margin-left: 7px;

        
    }

    .cart {
        /*padding: 0px;*/
        height: auto;
        width: 100%;
        margin: initial;
        padding: 2px;
        min-height: 100%;
    }

    .min {
        font-size: 19px;
        color: red;
    }

    .cond {
        display: none;
    }

    .cart_title {
        padding-top: 30px;
    }

        .closeCartInCart {
        top: 29px;
    }



    .buttonsCart {
        line-height: initial;
        position: absolute;
        width: 10%;
        right: 0;
        margin-top: 6px;
        height: 10%;
    }


    .SizeCart{
        font-size: 14px;
    }


}


/*@media (max-width: 440px) {
   
}*/