body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    /*font-size: 100%;
    font-weight: normal;*/
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}



/*HEADER*/





.header {
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

    .header.fixed {
        padding: 10px 0;
        height: auto;
        position: fixed;
        background-color: #e7e4e0;
    }


.footer {
    margin-top: 15px;
    font-size: 20px;
    /* font-family: 'Neucha', cursive; */
    font-family: 'Manrope', sans-serif;
    padding: 10px 0;
    background-color: #e7e4e0;
    color: #5a5a5a;
    text-align: center;
}

.header_inner {
    padding: 0 10px;
    display: flex;
    /* justify-content: space-between;*/
    align-items: center;
}

.header_logo {
    color: black;
    font-size: 30px;
    width: 8%;
}

.header_info {
    font-size: 14px;
    width: 20%;
    line-height: 1;
    color: grey;
    font-family: 'Manrope', sans-serif;
}

.pop {
    position: absolute;
    top: 100px;
    margin: 0 12%;
}

.CursorInishial {
    cursor: initial;
}
/*МОДАЛЬНОЕ ОКНО корзины*/
.korzina {
    border-radius: 50%;
    display: block;
    width: 40px;
    height: auto;
    margin: 0 10px;
}


.popup-cart:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.cart {
    position: relative;
    padding: 20px;
    width: 80%;
    height: auto;
    margin: 80px auto;
    background: #fff;
    border-radius: 4px;
}

.popup-cart-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

    .popup-cart-close img {
        display: block;
        width: 30px;
        height: auto;
    }

/*МОДАЛЬНОЕ ОКНО выберите размер*/


.popup-ModalText:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 99994;
}

.ModalText {
    text-align: center;
    font-size: 20px;
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    padding: 20px;
    width: 30%;
    height: auto;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #333333;
    border-radius: 4px;
    z-index: 999996;
    opacity: 1;
    /*position: relative;
    padding: 20px;
    width: 80%;
    height: auto;
    margin: 80px auto;
    background: #fff;
    border-radius: 4px;*/
}

.ModalText-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

    .ModalText-close img {
        display: block;
        width: 30px;
        height: auto;
    }

/*обратный звонок*/

.containerFeedback {
    max-width: 650px;
    margin: 0px auto 0;
    margin-bottom: 50px;
    /* background-color: #f69a73; */
    color: white;
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 19px;
}

.itemFeedback {
    text-align: center;
    width: 100%;
    background-color: #f69a73;
    margin: 30px auto 0;
    border-radius: 30px;
}

.itemAnswerFeedback {
    text-align: center;
    width: 100%;
    color: #525050;
    background-color: #fffdfc6e;
    border-radius: 30px;
    padding-top: 12px;
}

.text-testimonial {
    padding: 15px;
}

.city-name {
    color: #525050;
}

.itemCompleteFeedback {
    text-align: center;
    max-width: 600px;
    background-color: #f69a73;
    margin: 30px auto 0;
    border-radius: 30px;
    padding: 15px;
    color: white;
    font-size: 20px;
}

.with100 {
    width: 100%;
}

.text-box {
    width: 100%;
}

.decor {
    position: relative;
    max-width: 470px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
    margin-bottom: 50px;
}

.form-left-decoration,
.form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: #58c7ca;
    border-radius: 20px;
}

.form-left-decoration {
    bottom: 60px;
    left: -30px;
}

.form-right-decoration {
    top: 60px;
    right: -30px;
}

    .form-left-decoration:before,
    .form-left-decoration:after,
    .form-right-decoration:before,
    .form-right-decoration:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 20px;
        border-radius: 30px;
        background: #9fe7e9;
    }

.form-left-decoration:before {
    top: -20px;
}

.form-left-decoration:after {
    top: 20px;
    left: 10px;
}

.form-right-decoration:before {
    top: -20px;
    right: 0;
}

.form-right-decoration:after {
    top: 20px;
    right: 10px;
}

.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}

.form-inner {
    padding: 50px;
    box-sizing: border-box;
}

    .form-inner input,
    .form-inner textarea {
        display: block;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 10px;
        background: #E9EFF6;
        line-height: 40px;
        border-width: 0;
        border-radius: 20px;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
    }

        .form-inner input:focus,
        .form-inner textarea:focus {
            outline: none;
        }

        .form-inner input[type="submit"] {
            margin-top: 30px;
            background: #3eaeb1;
            border-bottom: 4px solid #198287;
            color: white;
            font-size: 15px;
            box-sizing: border-box;
        }

    .form-inner textarea {
        resize: none;
        box-sizing: border-box;
    }

    .form-inner h3 {
        margin-top: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: #707981;
        box-sizing: border-box;
    }

.textFeedCall {
    font-weight: 600;
    text-align: center;
    font-size: 34px;
    line-height: 48px;
}

.textFeedCall2 {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.CallFeedback {
    border: 3px solid #65bc54;
    background: #7ac36b;
    padding: 3px;
    margin-top: -5px !important;
}

.Phone {
    display: none;
}





    /*для слика в модальном окне*/
    .SlickMod {
        margin-right: 20px;
        margin-left: 20px;
    }

    /*Иконки соц сетей*/

    .contactsNew {
        display: flex;
        align-items: center;
        width: 25%;
    }

    .bigicon {
        margin-right: 0;
        margin-left: auto;
        width: 35%;
        display: flex;
        justify-content: center;
    }

    .icon {
        width: 30%;
        margin: 5px;
    }

    .iconimg {
        display: flex;
        align-items: center;
    }

    .number {
        font-size: 17px;
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
    }


    .social {
        width: 100%;
    }

    .social_inner {
        width: 40%;
        display: flex;
        justify-content: center;
        margin: 30px auto;
    }

    .social_inner_header {
        /*width: 33%;*/
        width: 10%;
        display: flex;
        margin-right: 0;
        margin-left: auto;
    }

    .borderRad20 {
        border-radius: 20%;
    }

    .social_item {
        width: 10%;
        margin: 0 5px;
        min-width: 40px;
    }

        .social_item img {
            display: block;
            width: 100%;
            height: auto;
            margin: 0 auto;
        }

    /*УЗНАТЬ ПОДРОБНЕЕ-МОДАЛЬНОЕ ОКНО*/

    .popup-fade {
        display: none;
    }

        .popup-fade:before {
            content: '';
            background: #000;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            z-index: 9999;
        }

    .popup {
        /*position: fixed;*/
        position: relative;
        top: 20px;
        /*left: 0;
    right: 0;*/
        padding: 20px;
        width: 80%;
        height: auto;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #333333;
        border-radius: 4px;
        z-index: 99999;
        opacity: 1;
    }

    .popup-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

        .popup-close img {
            display: block;
            width: 30px;
            height: auto;
        }

    /*КУПИТЬ-МОДАЛЬНОЕ ОКНО*/

    .popup-buy {
        display: none;
    }

        .popup-buy:before {
            content: '';
            background: #000;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            z-index: 9999;
        }

    .buy {
        position: fixed;
        top: 20%;
        left: 0;
        right: 0;
        padding: 20px;
        width: 60%;
        height: auto;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #333333;
        border-radius: 4px;
        z-index: 99999;
        opacity: 1;
    }

    .popup-buy-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

        .popup-buy-close img {
            display: block;
            width: 30px;
            height: auto;
        }

    .info_buy {
        width: 100%;
    }

    /*окно успешной покупки*/
    .Success {
        position: fixed;
        top: 20%;
        left: 0;
        right: 0;
        padding: 20px;
        width: 60%;
        height: auto;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #333333;
        border-radius: 4px;
        z-index: 99999;
        opacity: 1;
        display: block;
    }

    .SuccessOrder-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

        .SuccessOrder-close img {
            display: block;
            width: 30px;
            height: auto;
        }

    .PictureSuccess {
        width: 100%;
    }

    .Thanks {
        margin-top: 20px;
    }

    .SmallText {
        text-align: center;
        color: #575757;
        font-size: 22px;
    }

    .SuccessOrder:before {
        content: '';
        background: #000;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        z-index: 9999;
    }
    /*НАВИГАЦИЯ*/
    .nav {
        font-size: 14px;
        text-transform: uppercase;
        margin-right: 0;
    }

    .nav_link {
        color: black;
        display: inline-block;
        vertical-align: top;
        margin: 0 15px;
        text-decoration: none;
        transition: color .1s linear;
        position: relative;
    }

        .nav_link:after {
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: black;
            content: "";
            transition: width 0.3s ease-out;
        }


        .nav_link:hover:after {
            width: 100%;
        }


    /*INTRO*/

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        /*background: #582b5c url("../images/Fon.png") center no-repeat;*/
        background: #f2f2f2 url("../images/fon5.jpg") center no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
    }

    .intro_inner {
        width: 100%;
        margin: 0 10px;
        display: flex;
        justify-content: center;
    }



    .intro_info {
        width: 50%;
        font-family: 'Manrope', sans-serif;
        letter-spacing: 1px;
        font-weight: 700;
    }

    .intro_info_h {
        width: 70%;
    }

    .intro_info2 {
        font-size: 18px;
        font-family: 'Manrope', sans-serif;
        width: 70%;
    }

    .intro_photo {
        width: 40%;
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .intro_model {
        display: block;
        width: auto;
        height: 93%;
        position: absolute;
        bottom: 0;
    }

    /*КНОПКА КЛАССИКА*/

    .btn {
        cursor: pointer;
        margin-top: 10px;
        display: inline-block;
        vertical-align: top;
        border: 3px solid #fff;
        padding: 8px 30px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: none;
        font-weight: 700;
        transition: background .1s linear, color .1s linear;
    }

        .btn:hover {
            background-color: #fff;
            color: #333;
        }

    .btn-choose {
        margin-top: 20px;
        letter-spacing: 2px;
        width: 70%;
        background-color: #01898ccf;
        border: 0;
        border-bottom: 6px solid #0e5f63;
        border-radius: 10px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        .btn-choose:hover {
            background-color: #01898cb0;
            color: #fff;
            border-bottom-color: #0e5f63d9;
        }

    /*ПРЕИМУЩЕСТВА*/

    .feauters {
        margin-top: 61px;
    }

    .feauters_inner {
        width: 100%;
    }

    .feauters_title {
        color: #333333;
        font-size: 32px;
        text-align: center;
        margin-bottom: 8px;
    }

    .feauters_subtitle {
        font-size: 18px;
        color: #333333;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

        .feauters_subtitle:after {
            content: "";
            display: block;
            width: 60px;
            height: 3px;
            background-color: #5b2d5e;
            margin: 30px auto;
        }

    .feauter_items {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .feauter_item {
        margin: 20px 0;
        width: 33%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 7px;
    }

    .feauter_pic {
        width: 100%;
    }

    .pic {
        width: 35%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .feauter_item_title {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin: 10px 3px;
    }

    /*ХИТЫ И КАТАЛОГ*/


    .shiftItems {
        margin: 20px 10px 40px !important;
    }

    .textDecorNone {
        text-decoration: none;
        color: black;
    }

    .maxHeightInit {
        max-height: initial !important;
    }

    .sale {
        font-family: 'Roboto',Arial,sans-serif;
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: #1da77f;
        border-radius: 50%;
        color: white;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }

    .priceMain {
        display: flex;
        justify-content: center;
    }

    .PriceMainDetail {
        font-size: 17px;
        margin-top: 4px;
        margin-bottom: 9px;
    }

.newPrice {
    margin-right: 10px;
    color: #313131;
    font-weight: 700;
    font-size: 18px;
}

    .oldPrice {
        color: #bdbdbd;
        text-decoration: line-through;
    }

    .hits {
        margin-top: 60px;
    }

    .hits_inner {
        margin: 0 auto;
        width: 100%;
    }

    .addSl {
        width: 80%;
    }

    .hits_MainTitle {
        color: #333333;
        font-size: 32px;
        text-align: center;
    }

        .hits_MainTitle:after {
            content: "";
            display: block;
            width: 60px;
            height: 3px;
            background-color: #313131;
            margin: 20px auto 40px;
        }

    .hits_items {
        margin-top: 20px;
        margin: 20px 10px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .hits_item {
        width: 25%;
        margin: 10px;
    }

        .hits_item:focus {
            outline-style: none;
        }

    .hits_pic {
        width: 100%;
        position: relative;
        transition: transform .6s linear;
        background: #38234e;
    }

    .buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn-hit {
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 12px;
        width: 100%;
        text-align: center;
        display: none;
        border: 2px solid #fff;
        padding: 7px 27px;
    }

    .hits_pic:hover .hits_img {
        opacity: .3;
    }

    .hits_pic:hover .btn-hit {
        display: block;
    }

    .hits_img {
        /*max-height: 275px;*/
        display: block;
        width: 100%;
        height: auto;
    }

    .hits_title {
        margin-top: 10px;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
    }

        .hits_title:focus {
            outline-style: none;
        }

    .hit_word {
        position: absolute;
        top: -6px;
        left: -6px;
        background-color: #5b2d5e;
        color: #fff;
        font-size: 14px;
        padding: 1px 6px;
    }

    /*Отзывы*/
    .reviews {
        margin-top: 61px;
    }

    .reviews_inner {
        margin: 0 auto;
        width: 80%;
        padding: 0 10px;
    }

    .reviews_title {
        color: #333333;
        font-size: 32px;
        text-align: center;
    }

        .reviews_title:after {
            content: "";
            display: block;
            width: 60px;
            height: 3px;
            background-color: #313131;
            margin: 20px auto 40px;
        }

    .reviews_items {
        display: flex;
        justify-content: center;
    }

    .reviews_item {
        /*padding: 15px 5px 10px;*/
        width: 30%;
        margin: 20px;
    }

    .reviews_pic {
        width: 80%;
        margin: 0 auto 25px;
    }

        .reviews_pic img {
            display: block;
            width: 100%;
            height: auto;
        }

    .reviews_text {
        text-align: center;
        font-size: 15px;
        line-height: 1.4;
        font-style: italic;
        font-family: 'Neucha', cursive;
    }
    /*СОДЕРЖИМОЕ МОДАЛЬНОГО ОКНА - УЗНАТЬ ПОДРОБНЕЕ*/

    .overflow2 {
        position: fixed;
        opacity: 1;
        z-index: 10000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        /*right: 17px;*/
        /*padding-right: 17px;*/
    }

    .item_pizham {
        display: flex;
    }

    .theFirstBlock {
        width: 30%;
        /*width: 40%;*/
    }

    .picture {
        /*width: 100%;*/
        cursor: zoom-in;
        /*position: relative;
    overflow: hidden;*/
        width: 100%;
        /*height: 270px;*/
        /*height: 370px;*/
    }

        .picture img {
            display: block;
            max-width: 100%;
            height: auto;
            /*max-height: 274px;*/
            margin: 0 auto;
            /*position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        /*width: 300px;
        height: 270px;*/
            /*width: 370px;
        height: 370px;
        object-fit: cover;*/
        }

    .Zoom-out {
        cursor: zoom-out;
        position: relative;
        z-index: 100004;
        transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }


    .pictureSecond {
        height: 50px;
        width: 15%;
        margin-top: 5px;
    }

    .blockSecond {
        cursor: pointer;
        display: block;
        width: 100%;
        height: auto;
    }


    .price {
        padding: 10px 0 5px;
        text-align: center;
        color: #5b2d5e;
        font-size: 19px;
        font-weight: 700;
    }

.btn-add {
    margin-top: 20px;
    letter-spacing: 2px;
    width: 70%;
    background-color: #01898ccf;
    border: 0;
    border-bottom: 6px solid #0e5f63;
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 190px;
    font-size: 12px;
}


        .btn-add:focus {
            outline-style: none;
        }

    .btn-add-buy {
        width: 60%;
        margin: 0 20%;
    }

    .goToCart {
        background-color: #a282a4;
        color: white;
        border: 3px solid #a282a4;
        margin-top: 7px;
        line-height: 1;
    }

        .goToCart:hover {
            background-color: white;
            color: #5b2d5e;
            border: 3px solid #5b2d5e !important;
            margin-top: 7px;
        }



    .GoCatalog {
        margin-left: 1%;
        margin-top: 1%;
        width: 230px;
        background-color: white;
        color: black;
        border: 2px solid #582b5c;
    }

    .animate {
        position: relative;
    }

    .paket {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 40%;
        opacity: 0;
    }

        .paket img {
            display: block;
            width: 50px;
            height: auto;
        }

.btn-add:hover {
    background-color: #01898cb0;
    color: #fff;
    border-bottom-color: #0e5f63d9;
}

    .info {
        /*width: 70%;*/
        width: 70%;
        padding-left: 20px;
    }

    .info_title {
        font-weight: 700;
        padding-bottom: 10px;
        text-align: center;
        font-size: 19px;
    }

    .info_text_item {
        position: relative;
    }

    .pointer {
        display: block;
        width: 6px;
        height: auto;
        position: absolute;
        top: 38%;
    }

    .info_text_text {
        padding-left: 10px;
    }

    .info_table {
        padding-top: 10px;
        width: 100%;
    }

        .info_table img {
            display: block;
            width: 100%;
            height: auto;
        }

    .radio {
        display: flex;
        justify-content: center;
    }

        .radio input[type='radio'] {
            display: none;
        }



        .radio label {
            margin: 12px 5px;
            cursor: pointer;
        }


        .radio span {
            border: 1px solid #ddd;
            padding: 5px;
            margin: 1px;
        }

        .radio label:hover span {
            border: 2px #5b2d5e solid;
            margin: 0;
        }

        .radio label input[type='radio']:checked + span {
            padding: 5px;
            margin: 0;
            border: 2px #5b2d5e solid;
        }

    .displayInittial {
        display: initial;
    }

    .chooseSize {
        text-align: center;
        color: #5b2d5e;
        font-weight: 600;
        font-size: 20px;
    }

    .textRed {
        color: red;
    }

    /*ДОСТАВКА*/

    .delivery {
        margin-top: 60px;
    }

    .delivery_inner {
        width: 100%;
        margin: 0 auto;
    }

    .delivery_title {
        color: #333333;
        font-size: 32px;
        text-align: center;
    }

    .delivery_subtitle {
        font-size: 18px;
        color: #333333;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }


        .delivery_subtitle:after {
            content: "";
            display: block;
            width: 60px;
            height: 3px;
            background-color: #313131;
            margin: 20px auto 40px;
        }

    .delivery_items {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

.delivery_item {
    width: 33%;
    padding: 0 10px;
    border-right: 1px solid #7079817a;
}

        .delivery_item:last-child {
            border-right: 0;
        }


    .item_name {
        text-align: center;
        font-size: 20px;
    }

    .delivery_line {
        margin-bottom: 10px;
    }

    .delivery_ul {
        padding: 0;
        margin-left: 25px;
    }

    .star {
        font-size: 17px;
        color: red;
        font-weight: 700;
    }

    .delivery_star {
        width: 70%;
        margin: 20px auto;
        font-size: 14px;
    }

    /*Ролик YouTube*/

    .click-for-video {
        width: 600px;
        height: 340px;
        cursor: pointer;
    }


    div.youtube {
        display: none;
    }

    .youtubeDiv {
        margin: 0 auto;
    }

    .youtube {
        width: 600px;
        height: 340px;
        border-width: 0 !important;
    }

    .video {
        height: 363px;
        /*width: 600px;*/
    }

    /*КОНТАКТЫ*/

    .contacts {
        margin-top: 61px;
    }

    .contacts_inner {
        width: 100%;
        padding: 0 10px;
    }

    .contacts_title {
        color: #333333;
        font-size: 32px;
        text-align: center;
    }

        .contacts_title:after {
            content: "";
            display: block;
            width: 60px;
            height: 3px;
            background-color: #313131;
            margin: 20px auto 40px;
        }

    .contacts_items {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contacts_item {
        width: 33.33333%;
        text-align: center;
        padding: 0 7px;
    }

.contacts_pic {
    width: 100%;
    height: 27%;
    }

        .contacts_pic img {
            display: block;
            margin: 0 auto;
            width: 25%;
            height: auto;
        }

    .contacts_info_title {
        margin: 20px 0 15px;
        font-size: 20px;
        font-weight: 700;
    }

    .contacts_info_info {
        color: #7b7676;
        font-size: 16px;
    }

    /*БУРГЕР МЕНЮ*/

    .burger {
        display: none;
        background: none;
        border: 0;
        cursor: pointer;
        padding: 9px 2px;
    }

    .burger_item {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #2e9c9e;
        font-size: 0;
        color: transparent;
        position: relative;
    }

        .burger_item:before,
        .burger_item:after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: #2e9c9e;
            position: absolute;
            left: 0;
            z-index: 1;
        }

        .burger_item:before {
            top: -8px;
        }

        .burger_item:after {
            bottom: -8px;
        }

    .displayNone {
        display: none;
    }

    @media (max-width: 990px) {

        /*.popup {
        top: 5px;
    }*/

        .picture:hover {
            position: initial;
            z-index: initial;
            transform: initial; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }

        .Success {
            width: 100%;
        }


        .intro_inner {
            max-width: 470px;
        }

        .intro_suptitle {
            font-size: 15px;
        }

        .nav_link {
            font-size: 16px;
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 15px;
            margin: 0;
        }

            .nav_link:hover:after {
                width: 0;
            }
    }

    @media (max-width: 770px) {


        .header_inner {
            flex-wrap: wrap;
        }

        .header_logo {
            width: 20%;
        }

        .header_info {
            width: 50%;
        }

        .contactsNew {
            width: 100%;
        }

        .bigicon {
            margin-left: 0;
            width: 20%;
        }


        .intro_inner {
            width: 100%;
            max-width: 620px;
            margin: 0;
        }

        .intro_photo {
            width: 50%;
        }

        .intro_model {
            height: 87%;
            margin-left: -40px;
        }

        .intro_info {
            padding-right: 10px;
            width: 50%;
        }

        .intro_info_h {
            font-size: 25px;
            width: 100%;
            padding-bottom: 8px;
        }

        .intro_info2 {
            font-size: 16px;
            width: 100%;
        }

        .btn-choose {
            width: 100%;
            text-align: center;
        }



        .DescTop {
            display: none;
        }

        .Phone {
            display: initial;
        }

        .form-left-decoration, .form-right-decoration {
            display: none;
        }

        .textFeedCall {
            font-size: 22px;
            line-height: inherit;
        }

        .textFeedCall2 {
            font-size: 18px;
        }

        .AdaptiveDisplayCatalog {
            display: none;
        }

        .video {
            width: 100%;
            height: initial;
        }

        .youtube {
            width: 340px;
            height: 280px;
        }

        .click-for-video {
            width: 340px;
            height: 280px;
        }

        .slick-prev:before, .slick-next:before {
            font-size: 28px !important;
        }

        .slick-prev, .slick-next {
            width: 30px !important;
            height: 30px !important;
            z-index: 1;
        }


        .reviews_pic {
            width: initial;
        }

        .delivery_items {
            width: 100%;
            display: block;
            padding: 0 20px;
        }

        .delivery_item {
            width: 100%;
            border-right: 0;
            border-bottom: 1px solid #bb94bd;
            margin-bottom: 10px;
        }

        .delivery_star {
            width: 100%;
            margin: 0;
            padding: 0 33px;
            font-size: 12px;
        }


        .burger {
            margin-right: 0;
            margin-left: auto;
            display: block;
        }

        .nav {
            width: 100%;
            position: absolute;
            right: 0;
            top: 100%;
            background-color: #ebeae8;
            opacity: 0;
            transition: all 0.4s ease;
        }

            .nav.show {
                display: flex;
                flex-wrap: wrap;
                opacity: 100%;
            }


        .contacts_item {
            padding: 15px 7px;
            width: 100%;
        }

        .contacts_info_title {
            margin: 7px 0;
        }

        .feauters_title {
            font-size: 25px;
        }

        .feauter_item {
            width: 50%;
        }

        .pic {
            width: 45%;
        }

        .feauter_item_title {
            font-size: 15px;
        }

        .hits_MainTitle {
            font-size: 25px;
        }

        .contacts_title {
            font-size: 25px;
        }
    }

    @media (max-width: 440px) {

        .contacts_pic {
            height: initial;
        }

        /*.hits_img {
            max-height: 171px;
        }*/

        .pop {
            top: 0px;
            margin: 0 1%;
        }


        .picture {
            /*width: 100%;*/
            /*cursor: zoom-in;*/
            position: initial;
            overflow: initial;
            width: 100%;
            height: initial;
        }


            .picture img {
                max-height: initial;
                display: block;
                max-width: 100%;
                height: auto;
                margin: 0 auto;
                position: initial;
                top: initial;
                left: initial;
                transform: initial;
                width: 100%;
                height: initial;
                object-fit: initial;
            }

        .ModalText {
            width: 90%;
        }

        .theFirstBlock {
            width: 100%;
        }

        .item_pizham {
            display: flex;
            flex-direction: column;
        }

        .popup {
            top: 0;
            padding: 10px;
            padding-top: 45px;
            width: 100%;
        }

        .popup-close {
            position: absolute;
            top: 45px;
            right: 2px;
        }

        .info {
            width: 100%;
            padding-left: 0px;
        }

        .info_text_item {
            position: relative;
            padding: 0 30px;
        }

        .paket {
            top: -300px;
        }

        .hits_item {
            width: 50%;
            margin: 15px auto;
        }

        .info_title {
            margin-top: 15px;
        }

        .hits_pic {
            width: 90%;
            margin: 0 auto;
        }

        .cart {
            padding: 0px;
            width: 100%;
        }

        .hits_pic:hover .hits_img {
            opacity: initial;
        }
    }

    /*@media (max-width: 1367px) {
    top: 5px;
}*/

    @media (min-width: 1500px) {

        .info {
            width: 70%;
            /*width: 60%;*/
        }

        .theFirstBlock {
            width: 30%;
            /*width: 40%;*/
        }

        .pictureSecond {
            height: 68px;
            /*width: 15%;
        margin-top: 5px;*/
        }

        .popup {
            top: 10%;
        }
    }


@media(min-height: 770px) {
    .intro_model {
        margin-left: -60px;
    }
