<head>
 <meta name="viewport" content="width=device-width" , initial-scale=1>
<link rel="stylesheet" href="shopping-cart.css" />
 <script src='https://cdnjs.cloudflare.com//ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<link rel="stylesheet" href="Catalog.css" />
<link rel="stylesheet" href="style.css" />
</head>
 
   <div class="shopping-cart">
    
        <div class="cart_title">Ваша корзина</div>
        <div class="title">
        <div class="column">
            <div class="textColumn textColumnName"> Наименование </div>
            <div class="textColumn textColumnQuantity"> Количество </div>
            <div class="textColumn textColumnPrice"> Цена </div>
            <div class="textColumn textColumnAmount"> Сумма </div>
        </div>
    </div>
    <div class="item">
        <div class="buttonsCart">
            <a class="delete-btn"></a>
<!--        <span class="like-btn"></span>-->
         </div>
        <div class="image"> <img src="fox.png" class="imageShoping-cart" width="100" height="110" alt="" /> </div>
        <div class="description"> <span>
<a class="compItem ColourChangeModal colorGrey">Пижама FOX</a>
</span> </div>
        <div class="quantity">
            <a class="minus-btn buttonStyleCart  button" href="/Cart/RemoveOneProductToCart/@cartLine.productCart.Id"><img src="minus.svg" /></a>
            <input type="text" name="name" value="@cartLine.Quantity">
            <a class="plus-btn buttonStyleCart  button" href="/Cart/AddToCart/@cartLine.productCart.Id"><img src="plus.svg" /></a>
        </div>
        <div>
            <div class="PriceW">Цена</div>
            <div class="price">20 руб</div>
        </div>
        <div>
            <div class="total-priceW">Итого</div>
            <div class="total-price">500 руб</div>
        </div>
    </div>
    <div class="Total">
        <div class="box">
            
            <div class="ContainerTotal-total-price"> Итого к оплате: <a class="total-total-price">10 руб</a> </div>
            <div class="bottons">  <a class="btn buttonOrder OrderID" href="#">Оформить заказ</a> </div>
        </div>
        <div class="cond">
            <div class="cond_title"> ВОЗМОЖНЫЕ ВАРИАНТЫ ОПЛАТЫ </div>
        
            <div class="cond_text">
          
              
                <div class="deliveryСontraction"> Оплата банковской картой </div>

               
            </div>
           
            
            <div class="cond_text">
                <div class="deliveryСontraction">
                 <img height="27" width="200" src="cards.jpg"> </div>
            </div>
             <div class="cond_text">
               
              
                <div class="deliveryСontraction"> Оплата при получении </div>
            </div>
        </div>
    </div>
</div>