<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/style.css">
    @*<link href="https://fonts.googleapis.com/css?family=Merienda|Neucha|Roboto&display=swap" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://pizhamka-fox.ru/" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <meta name="yandex-verification" content="e37eaf24dedcbc1b" /> @*//ssl*@
    <link rel="stylesheet" type="text/css" href="~/js/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/js/slick-1.8.1/slick/slick-theme.css" />
    <title>Шёлковые пижамы с принтами для девушек - Пижамка-Фокс</title> @*Интернет-магазин одежды и аксессуаров, авторские принты. Изготовление товаров на японском оборудовании с использованием экологичных материалов, используется технология нанесения принтов под воздействием высоких температур на сублимационном плоттере.  Нежнейший хлопок и оригинальная модель подарят вам легкость и комфорт.Пижама, с которой не захочется расставаться идеально подчёркивают фигуру*@
    <meta name="description" content="Красочный и одновременно легкий принт наших женских пижамок придаст вашему образу некоторую мечтательность, даже когда вы готовитесь ко сну. Хиты нашего интернет-магазина: пижама с Авокадо, ЛИСИЧКА, Единороги, Marvel, PORN HUB, ЛИС ПАППИ. В комплект входит маечка и шорты. Доставка 2-5 дней" />  @*Пижамка-Фокс - шёлковые пижамы с принтами для вас. Хиты нашего магазина пижама с Авокадо, ЛИСИЧКА, Единорогом, Marvel, БЭТМЕН, ЖЕНЩИНА-КОШКА, PORN HUB, ЛИС ПАППИ. В комплект входит маичка и шорты. Пижама Алладин не меньше сможет порадовать тебя.*@
</head>
<body>
    <header class="header" id="header">
        
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">FOX</div>
                <nav class="nav" id="nav"> @*<a class="nav_link" href="#" data-scroll="#hits">ХИТЫ</a>*@ <a class="nav_link" href="#" data-scroll="#feauters">ПРЕИМУЩЕСТВА</a> <a class="nav_link" href="#" data-scroll="#catalog">НАШИ ТОВАРЫ</a> <a class="nav_link" href="#" data-scroll="#delivery">ДОСТАВКА</a>  <a class="nav_link" href="#" data-scroll="#reviews">ОТЗЫВЫ</a> <a class="nav_link" href="#" data-scroll="#contacts">КОНТАКТЫ</a> </nav>
                <button class="burger" type="button" id="navToggle"> <span class="burger_item">menu</span> </button>
                <a class="popup-cart-open" href="/Cart/Cart"><img class="korzina" src="~/images/Корзина/korzina.jpg" alt="Корзина покупок"></a>
                @*модальные окна*@
                <div id="dialogContentpopupFade" class="modal-dialog"></div>
                <div id="dialogContentpopupBuy" class="modal-dialog"></div>
                <div id="dialogContentpopupCart" class="modal-dialog"></div>

                <div id="dialogContentpopupModalText" class="modal-dialog"></div>

                @*успешная оплата*@
                <div id="dialogContentSuccessOrder" class="modal-dialog"></div>

            </div>
        </div>
    </header>
    @RenderBody()
</body>
</html>
