<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda|Neucha|Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" initial-scale=1>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <meta name="yandex-verification" content="e37eaf24dedcbc1b" /> @*//ssl*@
    <link rel="stylesheet" type="text/css" href="~/js/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/js/slick-1.8.1/slick/slick-theme.css" />
    <title>Пижамка-Фокс - шёлковые пижамы с принтом для девушек</title>
    <meta name="description" content="Пижамка-Фокс - шёлковые пижамы с принтами для вас. Хиты нашего магазина пижама с Авокадо, ЛИСИЧКА, Единорогом, Marvel, БЭТМЕН, ЖЕНЩИНА-КОШКА, PORN HUB, ЛИС ПАППИ. В комплект входит маичка и шорты. Также есть " />
</head>
<body>
    <header class="header" id="header">
        
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">FOX</div>
                <nav class="nav" id="nav"> @*<a class="nav_link" href="#" data-scroll="#hits">ХИТЫ</a>*@ <a class="nav_link" href="#" data-scroll="#feauters">ПРЕИМУЩЕСТВА</a> <a class="nav_link" href="#" data-scroll="#catalog">НАШИ ТОВАРЫ</a> <a class="nav_link" href="#" data-scroll="#delivery">ДОСТАВКА</a>  <a class="nav_link" href="#" data-scroll="#reviews">ОТЗЫВЫ</a> <a class="nav_link" href="#" data-scroll="#contacts">КОНТАКТЫ</a> </nav>
                <button class="burger" type="button" id="navToggle"> <span class="burger_item">menu</span> </button>
                <a class="popup-cart-open" href="/Cart/Cart"><img class="korzina" src="~/images/Корзина/korzina.jpg" alt="Корзина покупок"></a>
                @*модальные окна*@
                <div id="dialogContentpopupFade" class="modal-dialog"></div>
                <div id="dialogContentpopupBuy" class="modal-dialog"></div>
                <div id="dialogContentpopupCart" class="modal-dialog"></div>

                <div id="dialogContentpopupModalText" class="modal-dialog"></div>

                @*успешная оплата*@
                <div id="dialogContentSuccessOrder" class="modal-dialog"></div>

            </div>
        </div>
    </header>
    @RenderBody()


</body>
</html>
