<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168677740-1"></script>

    <meta charset="UTF-8">


    <link type="text/css" href="https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap" rel="stylesheet">
    @*<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">*@
    @*<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400&display=swap" rel="stylesheet">
    @*<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">*@
    @*<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://pizhamka-fox.ru/" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <meta name="format-detection" content="telephone=no">
    <meta name="yandex-verification" content="e37eaf24dedcbc1b" /> @*//ssl*@
    <link rel="stylesheet" type="text/css" href="~/js/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/js/slick-1.8.1/slick/slick-theme.css" />
    <title>Шёлковые пижамы с принтами для девушек купить - Пижамка-Фокс</title> @*Интернет-магазин одежды и аксессуаров, авторские принты. Изготовление товаров на японском оборудовании с использованием экологичных материалов, используется технология нанесения принтов под воздействием высоких температур на сублимационном плоттере.  Нежнейший хлопок и оригинальная модель подарят вам легкость и комфорт.Пижама, с которой не захочется расставаться идеально подчёркивают фигуру*@
    <meta name="description" content="Красочный принт наших женских пижамок из шёлка Армани придаст вашему образу некоторую мечтательность, даже когда вы готовитесь ко сну. Хиты нашего интернет-магазина: пижама с Авокадо, ЛИСИЧКА, Единороги, Кот Да Винчик, Marvel, PORN HUB, ЛИС ПАППИ. " />  @*Пижамка-Фокс - шёлковые пижамы с принтами для вас. Хиты нашего магазина пижама с Авокадо, ЛИСИЧКА, Единорогом, Marvel, БЭТМЕН, ЖЕНЩИНА-КОШКА, PORN HUB, ЛИС ПАППИ. В комплект входит маичка и шорты. Пижама Алладин не меньше сможет порадовать тебя.*@
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '760272324774923');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=760272324774923&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    <header class="header" id="header">

        <div class="container">
            <div class="header_inner">
                <div class="header_logo">FOX</div>
                <div class="header_info">
                    Интернет-магазин пижам с принтами
                    из Армани шёлка
                </div>
                @*<div class="social_inner_header">
                    <div class="social_item">
                        <a href="https://api.whatsapp.com/send?phone=79504256908" class="socialLink">
                            <img src="~/images/whatsapp.jpg" alt="Написать нам в whatsapp" class="borderRad20">
                        </a>
                    </div>
                    <div class="social_item">
                        <a href="https://instagram.com/pizhamkafox?igshid=14cbk9eardt8l" class="socialLink">
                            <img src="~/images/instagram.jpg" alt="Мы в инстаграмме" class="borderRad20">
                        </a>
                    </div>
                </div>*@
                @*</div>*@
                <a class="popup-cart-open RazmerKorzina Phone" href="/Cart/Cart"><img class="korzina" src="~/images/Корзина/shopping-basket-solid.svg" alt="Корзина покупок"></a>
                <nav class="nav" id="nav">  @*<a class="nav_link CallFeedback" href="#" data-scroll="#CallFeedback">ОБРАТНЫЙ ЗВОНОК</a>*@   <a class="nav_link" href="#" data-scroll="#catalog">КАТАЛОГ</a> <a class="nav_link" href="#" data-scroll="#delivery">ДОСТАВКА</a>  <a class="nav_link" href="#" data-scroll="#reviews">ОТЗЫВЫ</a> <a class="nav_link" href="#" data-scroll="#contacts">КОНТАКТЫ</a> </nav>
                <button class="burger" type="button" id="navToggle"> <span class="burger_item">menu</span> </button>
                <a class="popup-cart-open DescTop" href="/Cart/Cart"><img class="korzina korzinaToPacket" src="~/images/Корзина/shopping-basket-solid.svg" alt="Корзина покупок"></a>
                <div class="contactsNew">
                    <div class="bigicon">
                        <div class="icon">
                            <a href="https://instagram.com/pizhamkafox?igshid=14cbk9eardt8l" class="socialLink">
                                <img class="iconimg" src="~/images/instagram-brands.svg" alt="Мы в инстаграмме">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="https://api.whatsapp.com/send?phone=79504256908" class="socialLink">
                                <img class="iconimg" src="~/images/whatsapp-brands.svg" alt="Написать нам в whatsapp">
                            </a>
                        </div>
                    </div>
                    @*<div class="number">+7(950)425-69-08</div>*@
                    <a href="tel:+7(950)425-69-08" class="number">+7(950)425-69-08</a>
                </div>


                @*модальные окна*@
                <div id="dialogContentpopupFade" class="modal-dialog"></div>
                <div id="dialogContentpopupBuy" class="modal-dialog"></div>
                <div id="dialogContentpopupCart" class="modal-dialog"></div>
                <div id="dialogContentpopupModalText" class="modal-dialog"></div>

                @*успешная оплата*@
                <div id="dialogContentSuccessOrder" class="modal-dialog"></div>

            </div>
        </div>

    </header>
    @RenderBody()
</body>
</html>
