@model Domain.Product
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/style.css">
    <meta name="viewport" content="width=device-width" , initial-scale=1>
    @*<link href="https://fonts.googleapis.com/css?family=Merienda|Neucha|Roboto&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="~/js/slick-1.8.1/slick/slick.css" />
        <link rel="stylesheet" type="text/css" href="~/js/slick-1.8.1/slick/slick-theme.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
    <link rel="stylesheet" type="text/css" href="~/js/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/js/slick-1.8.1/slick/slick-theme.css" />
</head>
<body>
    <script type="text/javascript" src="~/js/slick-1.8.1/slick/slick.min.js"></script>
    <div class="SlickMod">
        <div class="autoplaySlx">
            <div class="hits_pic">
                <img class="hits_img" style="max-height:initial" src="~/images/Каталог/@Model.Address" alt="">
            </div>
            <div class="hits_pic">
                <img class="hits_img" style="max-height:initial" src="~/images/Каталог/@Model.Image2Address " alt="">
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function ($) {
            $(".autoplaySlx").slick({
                slidesToShow: 1
                , slidesToScroll: 1
                , autoplay: false
                , autoplaySpeed: 2500
                , variableHeight: true
                ,
            });
        });
    </script>
</body >
