@using Domain
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Http.Features;
@model IndexViewModal

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda|Neucha|Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" , initial-scale=1>
    <link rel="stylesheet" type="text/css" href="~/js/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/js/slick-1.8.1/slick/slick-theme.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Пижама</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>


    <div class="intro" id="intro">
        <div class="container">
            <div class="intro_inner">
                <h1 class="intro_title">ПИЖАМА</h1>
                <div class="intro_suptitle">Залог отличного настроения и продуктивного дня зависит от первых эмоций после пробуждения. Мы хотим, чтобы на твоём лице с самого утра блистала улыбка - а что как не идеальное отражение в зеркале сможет тебя так порадовать?</div>
                <div class="intro_suptitle">Наша пижама сделает твоё утро чудесным, а хоум - лук безумно комфортным и женственным. </div> <a class="btn" href="#" data-scroll="#catalog">Посмотреть каталог</a>
            </div>
        </div>
    </div>
    <div class="hits" id="hits">
        <div class="container">
            <div class="hits_inner addSl">
                <div class="hits_MainTitle">ХИТЫ</div>
                <div class="hits_items autoplaySl">
                    @foreach (var product in Model.HitsProducts)
                    {
                        <div class="hits_item">
                            <div class="hits_pic">
                                <img class="hits_img" src="~/images/Каталог/@product.Address" alt="">
                                <div class="buttons AdaptiveDisplayCatalog"> <a class="btn btn-hit popup-open" href="/Home/popupFade/@product.Id">УЗНАТЬ ПОДРОБНЕЕ</a> <a class="btn btn-hit popup-buy-open" href="/Home/popupBuy/@product.Id">КУПИТЬ</a> </div>
                                <div class="hit_word">ХИТ</div>
                            </div>
                            <div class="hits_title">
                                <a class=" popup-open" style="text-decoration:none; color: black;" href="/Home/popupFade/@product.Id">@product.Name</a>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="feauters" id="feauters">
        <div class="container">
            <div class="feauters_inner">
                <div class="feauters_title">ПОЧЕМУ МЫ ЛУЧШИЕ</div>
                <div class="feauters_subtitle">В чем преимущества наших пижам?</div>
                <div class="feauter_items">
                    <div class="feauter_item">
                        <div class="feauter_pic"> <img class="pic" src="~/images/Преимущества/kach.jpg" alt=""> </div>
                        <div class="feauter_item_title"> КАЧЕСТВЕННЫЕ МАТЕРИАЛЫ </div>
                    </div>
                    <div class="feauter_item">
                        <div class="feauter_pic"> <img class="pic" src="~/images/Преимущества/ned.jpg" alt=""> </div>
                        <div class="feauter_item_title"> НИЗКИЕ ЦЕНЫ </div>
                    </div>
                    <div class="feauter_item">
                        <div class="feauter_pic"> <img class="pic" src="~/images/Преимущества/komf.jpg" alt=""> </div>
                        <div class="feauter_item_title"> КОМФОРТ И ЭСТЕТИКА </div>
                    </div>
                    <div class="feauter_item">
                        <div class="feauter_pic"> <img class="pic" src="~/images/Преимущества/dost.jpg" alt=""> </div>
                        <div class="feauter_item_title"><span style="font-weight: 700; color: #1da77f">БЕСПЛАТНАЯ</span> ДОСТАВКА ПО ВСЕЙ РОССИИ </div>
                    </div>
                    <div class="feauter_item">
                        <div class="feauter_pic"> <img class="pic" src="~/images/Преимущества/kons.jpg" alt=""> </div>
                        <div class="feauter_item_title"> БЕСПЛАТНЫЕ КОНСУЛЬТАЦИИ </div>


                    </div>
                    <div class="feauter_item">
                        <div class="feauter_pic"> <img class="pic" src="~/images/Преимущества/imgonline-com-ua-Replace-color-uBjDNN85XAm95T9.jpg" alt=""> </div>
                        <div class="feauter_item_title"> БЕЗОПАСНЫЕ ПЛАТЕЖИ </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hits" id="catalog">
        <div class="container">
            <div class="hits_inner">
                <div class="hits_MainTitle">КАТАЛОГ</div>
                <div class="hits_items">
                    @foreach (var product in Model.Products)
                    {
                        <div class="hits_item">
                            <div class="hits_pic">
                                <img class="hits_img" src="~/images/Каталог/@product.Address" alt="">
                                <div class="buttons AdaptiveDisplayCatalog"> <a class="btn btn-hit popup-open" href="/Home/popupFade/@product.Id">УЗНАТЬ ПОДРОБНЕЕ</a> <a class="btn btn-hit popup-buy-open" href="/Home/popupBuy/@product.Id">КУПИТЬ</a> </div>
                                @if (product.Favourite)
                                {<div class="hit_word">ХИТ</div>}
                            </div>
                            <div class="hits_title">
                                <a class=" popup-open" style="text-decoration:none; color: black;" href="/Home/popupFade/@product.Id">@product.Name</a>
                            </div>
                        </div>
                    }
                </div>
                <div id="ContentShow_more"></div>
            </div>
        </div>
    </div>
    <div>
        <div id="contentMore"></div>
        <div style="width: 210px; margin: 0 auto; margin-top: 60px;">
            <input id="show_more" count_show="5" count_add="3" class="btn btn-add " style="width: 210px; margin: 0 auto;" type="button" value="Показать еще" />
        </div>
    </div>
    <script>
        $(document).ready(function ($) {
            $('#show_more').click(function () {
                $(this).addClass('displayNone');
                $.get("/Home/CatalogMore/", function (data) {
                    $('#ContentShow_more').append(data);
                });
            });
        });
    </script>

    <div class="delivery" id="delivery">
        <div class="container">
            <div class="delivery_inner">
                <div class="delivery_title">ДОСТАВКА</div>
                <div class="delivery_items">
                    <div class="delivery_item">
                        <div class="delivery_img"><img src="~/images/point.png" alt=""></div>
                        <div class="delivery_text">Доставка осуществляется курьерской службой СДЭК</div>
                    </div>
                    <div class="delivery_item">
                        <div class="delivery_img "><img src="~/images/point.png" alt=""></div>
                        <div class="delivery_text ">Самовывоз БЕСПЛАТНО</div>
                    </div>
                    <div class="delivery_item">
                        <div class="delivery_img"><img src="~/images/point.png" alt=""></div>
                        <div class="delivery_text">Срок доставки: 3-7 дней</div>
                    </div>
                    <div class="delivery_item">
                        <div class="delivery_img "><img src="~/images/point.png" alt=""></div>
                        <div class="delivery_text ">Срок хранения посылки: 3 дня</div>
                    </div>
                    <div class="delivery_item">
                        <div class="delivery_img"><img src="~/images/point.png" alt=""></div>
                        <div class="delivery_text">Доставка курьером 350 руб</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts" id="contacts">
        <div class="container">
            <div class="contacts_inner">
                <div class="contacts_title">НАШИ КОНТАКТЫ</div>
                <div class="contacts_items">
                    <div class="contacts_item">
                        <div class="contacts_pic"> <img src="~/images/contacts/adress.jpg" alt=""></div>
                        <div class="contacts_info">
                            <div class="contacts_info_title"> АДРЕС </div>
                            <div class="contacts_info_info"> 4801 South University Drive Suite 237, Ft. Lauderdale, FL 33328, United States </div>
                        </div>
                    </div>
                    <div class="contacts_item">
                        <div class="contacts_pic"> <img src="~/images/contacts/phone.jpg" alt=""></div>
                        <div class="contacts_info">
                            <div class="contacts_info_title"> ТЕЛЕФОН </div>
                            <div class="contacts_info_info"> (123) 456-7890 </div>
                            <div class="contacts_info_info">(123) 456-7891 </div>
                        </div>
                    </div>
                    <div class="contacts_item">
                        <div class="contacts_pic"> <img src="~/images/contacts/email.jpg" alt=""></div>
                        <div class="contacts_info">
                            <div class="contacts_info_title"> ПОЧТА </div>
                            <div class="contacts_info_info"> contacts@motocms.com </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            Пижамка-Фокс - шёлковые пижамы с принтами для вас
        </div>
    </div>
    <script type="text/javascript" src="~/js/slick-1.8.1/slick/slick.min.js"></script>
    <script src="~/js/app.js"></script>
    <script type="text/javascript">
        if (innerWidth > 508) {
            $(".autoplaySl").slick({
                slidesToShow: 3
                , slidesToScroll: 1
                , autoplay: true
                , autoplaySpeed: 2500
                , variableHeight: true
                ,
            });
        }
        else {
            $(".autoplaySl").slick({
                slidesToShow: 1
                , slidesToScroll: 1
                , autoplay: true
                , autoplaySpeed: 2500
                , variableHeight: true
                ,
            });
        }
    </script>
    <script src="https://yandex.st/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function ($) {
            $('.popup-open').click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContentpopupFade').html(data);
                    $('.popup-fade').fadeIn();
                });

                return false;
            });
            $('.popup-close').click(function () {
                $(this).parents('.popup-fade').fadeOut();
                return false;
            });
            $(document).keydown(function (e) {
                if (e.keyCode === 27) {
                    e.stopPropagation();
                    $('.popup-fade').fadeOut();
                }
            });
            $('.popup-fade').click(function (e) {
                if ($(e.target).closest('.popup').length == 0) {
                    $(this).fadeOut();
                }
            });
        });
    </script>
    <script>
        $(document).ready(function ($) {
            $('.popup-buy-open').click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContentpopupBuy').html(data);
                    $('.popup-buy').fadeIn();
                });

                return false;
            });
            $('.popup-buy-close').click(function () {
                $(this).parents('.popup-buy').fadeOut();
                return false;
            });
            $(document).keydown(function (e) {
                if (e.keyCode === 27) {
                    e.stopPropagation();
                    $('.popup-buy').fadeOut();
                }
            });
            $('.popup-buy').click(function (e) {
                if ($(e.target).closest('.buy').length == 0) {
                    $(this).fadeOut();
                }
            });
        });
    </script>
    <script>
        $(document).ready(function ($) {
            $('.popup-cart-open').click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContentpopupCart').html(data);
                    $('.popup-cart').fadeIn();
                });
                //document.body.style.overflow = "hidden";
                return false;
            });
            $('.popup-cart-close').click(function () {
                $(this).parents('.popup-cart').fadeOut();
                document.body.style.overflow = "auto";
                return false;
            });
            $(document).keydown(function (e) {
                if (e.keyCode === 27) {
                    e.stopPropagation();
                    $('.popup-cart').fadeOut();
                }
            });
            $('.popup-cart').click(function (e) {
                if ($(e.target).closest('.cart').length == 0) {
                    $(this).fadeOut();
                }
            });
        });
    </script>

    @*убрать кнопки при наведении на телефоне*@
    <script type="text/javascript">
        if (innerWidth < 420) {
            $(".AdaptiveDisplayCatalog").addClass("displayNone"); //.remove("displayNone"); //.toggleClass("displayNone");
        }
    </script>

</body>

</html>